



body {
  margin-top: 0px;
    background-color:rgba(73, 71, 71, 0.897);
    margin: 20px;
  }



  h2{
    color: white
  }

  h3{
    color:white;
    text-align: center
  }

  div{
    margin:0px;
    color: white;
    background-color:black;
    padding: 20px;
    
  }

  ul{

    padding-left: 50px;
    border-left:20px solid green;
  }

  li{
    color: white
  }

