* {
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  padding-bottom: 0%;
  margin-bottom: 0%;
  z-index: 1000;
  background-color: #3d9970;
  margin: 0%;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#encabezado {
  padding-left: 1em;
  flex-basis: 70%;
  margin: 0%;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

#perfil {
  flex-basis: 5%;
  height: 70px;
}

#user {
  flex-basis: 20%;
  color: white;
  text-align: center;
  padding: 20px;
}

#correo {
  text-decoration: none;
  color: white;
}

main {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

body {
  background-image: url(https://www.workstreams.ai/assets/img/ws_task_management-big.jpg);
}

footer {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.content {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}

.item {
  height: 5em;
  margin: 1em;
  border-radius: 12px 12px 12px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  background-color: rgb(149, 178, 221);
  border: 0.1em solid lightgray;
}

.title {
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: auto;
  padding-left: 1em;
  font-size: 20px;
  color: rgb(51, 51, 138);
  font-weight: bold;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: auto;
}

.tag {
  margin-left: 10px;
  padding: 10px;
  border: rgb(51, 51, 138) 1px solid;
  border-radius: 12px;
  background-color: rgb(102, 102, 226);
  text-align: center;
  font-weight: bold;
}

.boton {
  display: flex;
  flex-basis: 30%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  height: 50px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
}

button {
  width: 50%;
  height: 40%;
  margin: auto;
  height: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 10px;
  font-weight: bold;
}

.addTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;
  height: 7em;
  margin: 1em;
  border: 0.1em solid lightgray;
  border-radius: 12px 12px 12px;
  flex-grow: 1;
  flex-shrink: 1;
  background: rgb(247, 215, 110);
}

.clean {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  border: 0.1em solid lightgray;
  border-radius: 12px 12px 12px;
  flex-grow: 1;
  flex-shrink: 1;
  background: lightsalmon;
  height: 5em;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
}

textarea {
  flex-basis: 70%;
  height: 60%;
  border-radius: 10px;
  border: 0.1em solid lightgray;
  margin: 0%;
}

.anadir {
  flex-basis: 10%;
  margin-left: 2%;
}

.addBoton {
  height: 5em;
  width: 200px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

#done {
  text-decoration: line-through;
  opacity: 0.6;
  border: 2px solid black;
}

#done > .tag {
  display: none;
}

#done > .button {
  display: none;
}
