html{
    height: 100%;
    background-image: linear-gradient(to bottom,grey, black);
}

body{
    margin: 0;

}

.backgroundTop{
    background: #131313;
    font-size: 18px; 
    font-weight: 400; 
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.list{
    color: #ffffff;
    margin-left: 40px;
}


