
body{
    background:  #f4f4f4;
}

*{
    font-family: sans-serif
}

h1,h2{
    font-weight: normal;
    padding-left: 15px;
    background: white;
}

a{
    color:  #1177D1;
    text-decoration: currentColor;
}

a[href$=".pdf"]::before{
    content: url(../iconos/pdf.png);
}

a[href$="https://cv4.ucm.es"]::before{
    content: url(../iconos/url.png);
}

a[href$="https://docs.google.com"]::before{
    content: url(../iconos/tarea.png);
}

a[href*="avisos.cv"]::before{
    content: url(../iconos/avisos.png)
}

.header{
    color: black;
    background: white;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 5px;
}

p.subs a {
    padding: 15px;
    background: white;
}

.content{
    color: black;
    background: white;
    border-top: 20px solid white;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 5px;
}

div.content a{
    padding: 15px;
    background: white;
}