* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
}

.navbar {
    display: none
}

.navElem {
    display: none;
}

.images {
    display: none;
}

.bottom {
    display: none;
}