body {
    padding: 0;
    margin: 0;
    background: url(media/myanmar.jpg);
}


.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_beh {
    flex-grow: 1;
    flex-shrink: 1;
}

.flex_start {
    justify-content: flex-start;
    flex-wrap: wrap;
}




/*navbar*/

.navbar {
    background: coral;
}

.navbar_title {
    flex-basis: 60%;
}

.navbar_items {
    flex-basis: 40%;
}

.navelem {
    margin-top: auto;
    margin-bottom: auto;
}

.navs {
    margin: 1em;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}